body {
  background: blanchedalmond;
}

* {
  border: 1px solid steelblue;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 10px;
  height: 90vh;
}

.container > * {
  margin: 5px;
  text-align: center;
}

.a {
  flex-grow: 1;
}

.b {
  flex-grow: 2;
}

.c {
  flex-grow: 1;
}
