body {
  background: papayawhip;
}

* {
  border: 1px solid steelblue;
}

.container {
  display: flex;
  flex-flow: row wrap;
  min-height: 90vh;
  margin: 10px;
}

.container > * {
  margin: 5px;
}

.container-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.container-2 > * {
  margin: 5px;
}

.container-2 > * {
  width: 25%;
}

.a {
  width: 100%;
}

.b {
  min-height: 30vh;
  width: 100%;
}

.f {
  width: 100%;
}
